.food-item {
  width: 100%;
  max-width: 280px;
  height: 20rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  box-sizing: border-box;
  transition: transform 0.2s;
}

.food-item:hover {
  transform: scale(1.03);
}

.food-item-img-div{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.food-item-img-div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.fd-name,
.fd-price {
  width: 99%;
  height: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-style: italic; */
}
.fd-desc {
  width: 99%;
  height: 17%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fd-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fd-name p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  width: 70%;
  height: 99%;
}

.fd-name-img-div {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 30%;
  height: 100%;
}

.fd-name-img-div img {
  
  width: 5rem;
}

.fd-name p,
.fd-desc p,
.fd-price p {
  margin: 0.5rem 0;
  font-size: 1rem; 
  text-align: left;
}

.fd-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fd-price p {
  width: 40%;
  height: 100%;
}

.fd-price .cart-btns {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.add-to-cart {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}


.fd-item-cart-counter {
  margin-left: 1.5rem;
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.6rem;
}

.fd-item-cart-counter p {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fd-item-cart-counter img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}