
.menu-div {
    margin-top: 4rem;
    height: 27rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    height: 98%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
}
.menu h1 {
    font-size: 5rem;
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-text {
    font-size: 1.3rem;
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 


.menu-list {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.menu-list-item {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.menu-list-item-name {
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-list-item img {
    width: 5.8rem;
    height: 5.3rem;
    border-radius: 50%;
    /* border: 2px solid orange; */
}

.menu-hrline {
    margin-top: 1rem;
    height: 0.2rem;
    border-radius: 1rem;
    width: 50%;
    background-color: orange;
}

.active {
    border: 5px solid orange;
    padding: 2px;
}

@media (max-width : 1080px) {
    .menu-div {
        height: 45rem;
    }
    .menu {
        width: 88%;
    }

    .menu-list {
        height: 40%;
        flex-wrap: wrap;
    }
}

@media (max-width : 900px) {
    .menu-div {
        height: 45rem;
    }
    .menu {
        width: 88%;
    }

    .menu-list {
        height: 40%;
        flex-wrap: wrap;
    }
}

@media (max-width : 800px) {
    .menu-div {
        height: 45rem;
    }
    .menu {
        width: 88%;
    }

    .menu-list {
        height: 40%;
        flex-wrap: wrap;
    }
}

@media (max-width : 720px) {
    .menu-div {
        height: 45rem;
    }
    .menu {
        width: 88%;
    }
.menu h1 {
    margin-top: -5rem;
    font-size: 4.7rem;
}
    .menu-list {
        height: 40%;
        flex-wrap: wrap;
    }
}

@media (max-width : 650px) {
    .menu-div {
        height: 55rem;
    }
    .menu {
        width: 88%;
    }
.menu h1 {
    margin-top: -5rem;
    font-size: 4rem;
}
    .menu-list {
        height: 40%;
        flex-wrap: wrap;
    }

    .menu-hrline {
        margin-top: 10rem;
    }
}

@media (max-width : 600px) {
    .menu-div {
        height: 60rem;
    }
    .menu {
        width: 88%;
    }
.menu h1 {
    margin-top: -50%;
    font-size: 3.8rem;
}
    .menu-list {
        height: 40%;
        flex-wrap: wrap;
    }
}


@media (max-width : 500px) {
    .menu-div {
        height: 55rem;
    }
    .menu {
        width: 88%;
    }
.menu h1 {
    margin-top: -60%;
    font-size: 3.3rem;
}

.menu p {
    font-size: 1.13rem;
}

    .menu-list {
        height: 40%;
        flex-wrap: wrap;
    }
}

@media (max-width : 430px) {
    .menu-div {
        height: 57rem;
    }
    .menu {
        width: 88%;
    }
.menu h1 {
    margin-top: -20%;
    font-size: 2.4rem;
}

.menu p {
    font-size: 0.9rem;
}

    .menu-list {
        height: 75%;
        flex-wrap: wrap;
    }
    .menu-hrline {
        width: 60%;
        margin-top: 6rem;
    }
}

@media (max-width : 400px) {
    .menu-div {
        height: 55rem;
    }
    .menu {
        width: 88%;
    }
.menu h1 {
    margin-top: -40%;
    font-size: 2.5rem;
}

.menu p {
    font-size: 0.8rem;
}

    .menu-list {
        height: 75%;
        flex-wrap: wrap;
    }
}

@media (max-width : 320px) {
    .menu-div {
        height: 55rem;
    }
    .menu {
        width: 88%;
    }
.menu h1 {
    margin-top: -40%;
    font-size: 2rem;
}

.menu p {
    font-size: 0.7rem;
}

    .menu-list {
        height: 75%;
        flex-wrap: wrap;
    }
}