.headerdiv {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.header {
    width: 90%;
    height: 90%;
    background: url('../../../public/header-img.jpg') no-repeat;
    background-size: cover;
    border-radius: 2rem;
    border: 5px solid orange;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.header-c1 {
    height: 40%;
    width: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    text-align: right;
    margin-right: 1rem;
}

.header-c2 {
    height: 10%;
    width: 52%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 1.18rem;
    text-align: right;
    margin-right: 1rem;
}

.header-btn {
    margin-top: 2rem;
    height: 15%;
    width: 50%;
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

.header-btn button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    height: 60%;
    background-color: white;
    border: 2px solid orange;
    border-radius: 2rem;
    color: orange;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}

.header-btn button:hover {
    background-color: orange;
    color: white;
    transform: scale(1.06);
}

@media (max-width:1080px) {
    .header-c1 p {
        font-size: 4rem;
    }
    .header-c2 p {
        margin-top: 2rem;
        font-size: 1rem;
    }
    .header-btn {
        margin-top: 2.5rem;
        height: 11%;
        width: 60%;
    }
    
}

@media (max-width:900px) {
    .header-c1 p {
        font-size: 4rem;
    }
    .header-c2 p {
        margin-top: 2rem;
        font-size: 1rem;
    }
    .header-btn {
        margin-top: 2.5rem;
        height: 11%;
        width: 60%;
    }
    
}

@media (max-width:800px) {
    .header-c1 p {
        font-size: 3.6rem;
    }
    .header-c2 p {
        margin-top: 0.7rem;
        font-size: 1rem;
    }

    .header-btn {
        height: 11%;
        width: 60%;
    }
    
}

@media (max-width:720px) {
    .header-c1 p {
        font-size: 3.6rem;
    }
    .header-c2 p {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .header-btn {
        height: 13%;
        width: 80%;
    }
    
}

@media (max-width:650px) {
    .header-c1 p {
        font-size: 3.4rem;
    }
    .header-c2 p {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .header-btn {
        height: 13%;
        width: 80%;
    }
    
}

@media (max-width:600px) {
    .header-c1 p {
        font-size: 3rem;
    }
    .header-c2 p {
        margin-top: -1rem;
        font-size: 1rem;
    }

    .header-btn {
        margin-top: 0.7rem;
        height: 13%;
        width: 80%;
    }
    
}

@media (max-width:540px) {
    .header-c1 p {
        font-size: 2.7rem;
    }
    .header-c2 p {
        margin-top: -2.7rem;
        font-size: 1rem;
    }

    .header-btn {
        margin-top: 0.7rem;
        height: 10%;
        width: 80%;
    }
    
    
}

@media (max-width:480px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-c1 {
        width: 90%;
    }

    .header-c2 {
        height: 10%;
        width: 90%;
    }

    .header-btn {
        display: flex;
        align-items: center;
        justify-content: center;
       margin-top: 0rem;
        height: 10%;
        width: 100%;
    }

    .header-c1 p {
        font-size: 2rem;
        text-align: center;
    }
    .header-c2 p {
        text-align: center;
        margin-top: -4rem;
        font-size: 1rem;
    }

   
    
}


@media (max-width:320px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-c1 {
        width: 90%;
    }

    .header-c2 {
        height: 10%;
        width: 90%;
    }

    .header-btn {
        display: flex;
        align-items: center;
        justify-content: center;
       margin-top: 0rem;
        height: 10%;
        width: 100%;
    }

    .header-c1 p {
        font-size: 2rem;
        text-align: center;
    }
    .header-c2 p {
        text-align: center;
        margin-top: -4rem;
        font-size: 1rem;
    }

   
    
}