.food-display-div {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.food-display {
    width: 80%;
    height: auto;
    /* border: 2px solid black; */
}

.food-display-txt {
    margin-left: 1rem;
    font-size: 2rem;
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.food-display-list {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 2rem;
}

@media (max-width : 1080px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width : 900px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 800px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 720px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 600px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 520px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 480px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 430px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 320px) {
    .food-display-txt {
        text-align: center;
    }
    .food-display-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}